<div class="card text-center mt-3"
     [ngClass]="{'bg-warning': postType==='news','bg-primary': postType==='education', 'bg-dark text-light': postType==='politics'}"

>
  <div class="card-header" (click)="getThisPost(postObj)" appTextDeco >
    Post: {{postId}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{postTitle | upperCase}}</h5>
    <p class="card-text">{{postBody}}</p>
    <button *ngIf="postActive" (click)="modifyPost(postObj)" class="btn btn-danger">Disattiva</button>
    <button *ngIf="!postActive" (click)="modifyPost(postObj)" class="btn btn-success">Attiva</button>
  </div>
  <div class="card-footer">
{{postType}}
  </div>
</div>

<div>

</div>
