<div class="card text-center"
     [ngClass]="{'bg-warning': postType==='news','bg-primary': postType==='education', 'bg-black text-light': postType==='politics'}"

>
  <div class="card-header">
    Post: {{postId}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{postTitle}}</h5>
    <p class="card-text">{{postBody}}</p>
    <button (click)="modifyPost(postId, postBody, postTitle, postType, !postActive)" class="btn btn-success">Inverti</button>
  </div>
  <div class="card-footer text-body-secondary">
{{postType}}
  </div>
</div>
