<div class="container d-flex justify-content-center mt-3 gap-3" role="group" aria-label="Basic example">
  <a class="btn btn-success" [routerLink]="['/active-posts']">Post attivi</a>
  <a class="btn btn-danger" [routerLink]="['/inactive-posts']">Post non attivi</a>
</div>
<div class="container">
<div class="row">
  <div class="col-6" *ngFor="let post of posts">
    <app-card
      [postObj] = "post"
      [postId]="post.id"
      [postActive]="post.active"
      [postTitle]="post.title"
      [postBody]="post.body"
      [postType]="post.type"
      (showPost)="riceviDati($event)"
    ></app-card>
  </div>
</div>
</div>
