<div class="container d-flex justify-content-evenly mb-3" role="group" aria-label="Basic example">
  <a class="btn btn-primary" [routerLink]="['/active-posts']">Active Posts</a>
  <a class="btn btn-primary" [routerLink]="['/inactive-posts']">Inactive Posts</a>
</div>
<div class="container">
<div class="row">
  <div class="col-6" *ngFor="let post of posts">
    <app-card
      [postId]="post.id"
      [postActive]="post.active"
      [postTitle]="post.title"
      [postBody]="post.body"
      [postType]="post.type"
    ></app-card>
  </div>
</div>
</div>
